$green1: #00FF68;
$green2: #00E6E3;
$gradient: linear-gradient(270deg, #00E6E3 2.73%, #00FF68 100%);
$line: #232323;
$back: #0E0E0E;

body {
    background-color: $back !important;
    color: #FFFF;
}

html {
    min-height: 100%;
    position: relative;
}

.progress {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 

    .progress-check {
        background: $gradient;
    }
}

.update-icon {
    color: #fff000;

    &:hover {
        color: #afa516;
    }
}

.delete-icon {
    color: #ff0000;

    &:hover {
        color: #bb1111;
    }
}

.fav-icon:hover {
    color: #ffff;
}